%hr
%footer
  .row
    .span4
      %p(class='pull-right')= t('contacts.phone')
      %p &copy; НП
    .span4
      %h4 Поделиться
      %span.st_facebook_large
      %span.st_vkontakte_large
      %span.st_twitter_large
      %span.st_plusone_large
      %span.st_email_large

    .span4
      %h4 Партнеры
/
  Javascripts
  \==================================================
/ Placed at the end of the document so the pages load faster
= javascript_include_tag "application"
