%footer
  %p(class='pull-right')= t('contacts.phone')
  %p &copy; #{t('.np')}
/
  Javascripts
  \==================================================
/ Placed at the end of the document so the pages load faster
= javascript_include_tag "application"
