- unless member_signed_in?
  #lb_landing.row
    .span6
      %h1
        Смена Deadline - это
      %h2
        Выездной обучающий семинар для молодежи, которая хочет работать в сфере ИТ, в частности, занимается разработкой программных продуктов. Участники в течении нескольких дней будут работать над продуктом. В результате каждый участник семинара покажет готовый подукт.
      %a.btn-large.btn-info{:href => ""} Я пойду
    .span6
      -#%img#logobro_hero{:alt => "Logobro_hero_bw", :src => "/images/logobro_hero_bw.png?1339755308"}
      = image_tag 'clock_1.jpg', :alt => '9-16 июля в летнем лагере "Русский берег"', :title => '9-16 июля в летнем лагере "Русский берег"'
