%h3 Концепция мероприятия
%ul
  %li
    %p
      %b Что мы хотим сделать?
    %p Выездной обучающий семинар для молодёжи, которая хочет работать в сфере ИТ, в частности, заниматься разработкой программных продуктов. Участники в течение нескольких дней будут работать над продуктом. В результате каждый участник в конце семинара покажет готовый продукт.
  %li
    %p
      %b Где и когда это будет?
    %p 17-24 июля 2012 года, в летнем лагере или турбазе, в каком конкретно, пока неизвестно.
  %li
    %p
      %b Какие проекты будут разрабатываться участниками?
    %p Микро-проекты от ведущих ИТ-компаний Ульяновска.
  %li
    %p
      %b Кто наша аудитория?
    %p Студенты и школьники, желающие работать в сфере ИТ и бегло программирующие хотя бы на одном языке программирования.
  %li
    %p
      %b Как мы собираемся это делать?
    %p Определим тестовое задание. Разместим его на сайте. Проведём отбор по его выполнению.
    %p Пригласим на семинар специалистов.
    %p Все дни на семинаре участники с утра до вечера будут заниматься разработкой проектов.
  %li
    %p
      %b За чей счёт?
    %p Для участников мероприятие будет бесплатным.
    %p Проживание, питание, доставка участников до места назначения и обратно будут организованы МИЦ за счёт Министерства образования.
    %p Каждый участник должен иметь при себе личный ноутбук и желание плодотворно поработать.
  %li
    %p
      %b Зачем это нужно?
    %ul
      %li Создание площадки для самореализации будущих специалистам
      %li Обмен опытом между участниками и действующими специалистами ведущих компании по разработке программного обеспечения г.Ульяновска
      %li Создание «движухи» для молодых программистов Ульяновской области Мероприятие реализуется на общественных началах. В планах сделать Deadline-camp ежегодным.
