.row#landing
  .span6
    %h2 9 - 16 июля в Русском береге
    %h3 Выездной обучающий семинар для молодёжи, которая хочет работать в сфере ИТ, в частности, заниматься разработкой программных продуктов. Участники в течение нескольких дней будут работать над продуктом.
    - if member_signed_in?
      %a.btn.btn-success.btn-large{:href => program_page }
        %i.icon-chevron-right
        Программа
    - else
      %a.btn.btn-success.btn-large{:href => new_member_path}
        %i.icon-chevron-right
        Регистрация
      %a.btn.btn-primary.btn-large{:href => new_session_path}
        %i.icon-chevron-right
        Вход
  .span6
    .thumbnail
      = image_tag 'deadline_clock.jpg'

= image_tag 'grey_out.png'

.row
  .span6
    %h4 Как это будет происходить
    %ul
      %li
        %p
          %b Какие проекты будут разрабатываться участниками?
        %p Микро-проекты от ведущих ИТ-компаний Ульяновска.
      %li
        %p
          %b Кто наша аудитория?
        %p Студенты и школьники, желающие работать в сфере ИТ и бегло программирующие хотя бы на одном языке программирования.
      %li
        %p
          %b Как мы собираемся это делать?
        %p Определим тестовое задание. Разместим его на сайте. Проведём отбор по его выполнению.
        %p Пригласим на семинар специалистов.
        %p Все дни на семинаре участники с утра до вечера будут заниматься разработкой проектов.
      %li
        %p
          %b За чей счёт?
        %p Для участников мероприятие будет бесплатным.
        %p Проживание, питание, доставка участников до места назначения и обратно будут организованы МИЦ за счёт Министерства образования.
        %p Каждый участник должен иметь при себе личный ноутбук и желание плодотворно поработать.
  .span6
    %h4 Зачем это нужно?
    %ul
      %li Создание площадки для самореализации будущих специалистам
      %li Обмен опытом между участниками и действующими специалистами ведущих компании по разработке программного обеспечения г.Ульяновска
      %li Создание «движухи» для молодых программистов Ульяновской области Мероприятие реализуется на общественных началах. В планах сделать Смену Deadline ежегодным мероприятием.

    %h4 Организаторы
    %p МИЦ
    %p Некоммерческое партнерство

