= "#{@member.full_name},"

%p Кто-то отправил запрос на смену пароля для доступа на сайт, если вы ожидали это сообщение, перейдите по следующей ссылке чтобы сменить пароль:

= link_to(nil, edit_account_password_url(:auth_token => @member.auth_token))

%p Если вы не ожидали это письмо, просто проигнорируйте его.
