%h2 Добро пожаловать на Смену Deadline!

%p Спасибо за интерес к Deadline-смене.

%p Ваша анкета была успешно отправлена организаторам Deadline-смены.

%p Организаторы свяжутся с Вами дополнительно.

%p По всем вопросам Вы можете обратится по телефону: 97-18-47
