%h2 Добро пожаловать на Смену Deadline!

%p Спасибо за интерес к Deadline-смене.

%p Ваша анкета была успешно отправлена организаторам проекта.

%p Пожалуйста, заполните необходимые данные на Вашей личной странице для успешного прохождения отбора для участия в Deadline-Смене. Для этого авторизуйтесь на сайте и войдите в #{link_to "Ваш профиль" , edit_account_url}.

%p Организаторы свяжутся с Вами дополнительно по указанному телефону или email.

%p По всем вопросам Вы можете обратиться по телефону: +7 (8422) 97-18-47
