.control-group.nested-fields
  -#.close
    = link_to_remove_association 'x', f, :class => 'btn btn-danger disabled'
  .controls
    = f.association :language
    = f.input :level, :collection => %w(norm best)
