development:
  adapter: postgresql
  encoding: unicode
  database: deadline_camp_development
  pool: 5
  host: localhost
  username: postgres
  password:

staging:
  adapter: postgresql
  encoding: unicode
  database: deadline_camp_staging
  pool: 1
  timeout: 5000
  username: deadline_camp_staging
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: deadline_camp_test
  pool: 5
  username: postgres
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: deadline_camp_production
  pool: 1
  timeout: 5000
  username: postgres
  password:
