/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require jquery.ui.all
 *= require_self
*/

.mr280 {
  margin-right: 280px;
}
.ml30 {
  margin-left: 30px;
}
h2, h3, h4 {
  margin-bottom: 10px;
}
footer {
  color: #666;
  background-color: #333;
  border-top: 4px solid black;
}
footer h2 {
  color: #aaa;
  margin-bottom: 10px;
}
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 80%;
}
.container .nav-collapse {
  width:950px;
}

.navbar .brand {
  padding: 8px 20px 0 0;
}

footer #footer_top {
  border-bottom: 1px solid #222;
  padding-bottom: 20px;
  padding-top: 20px;
}
footer #footer_bottom {
  border-top: 1px solid #444;
  padding-top: 20px;
  padding-bottom:10px;
}

#topbar_logo {
  margin: -8px 0 -3px;
}

div #landing {
  margin-bottom: 10px;
}

div #landing h3 {
  color: #555;
  font-weight: normal;
  margin: 10px 0 30px 0;
}
.navbar .nav li a {
  line-height: 29px;
}
footer a:hover, footer .nav li a:hover {
  color: white;
  background-color: #333;
}
.content {
  min-height: 400px;
}
